{% extends 'base.html.twig' %}

{% block title %}Nouveau Auteur{% endblock %}

{% block body %}
    <h1>Nouveau Auteur</h1>

    {{ include('auteur/_form.html.twig') }}
<p></p>
    <a href="{{ path('auteur_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;Retour</span></a>
{% endblock %}
